<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Upload</title>
</head>

<body>
    <% if(msg){ %>
        <h1>Error in uploading</h1>
        <% } %>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="csvFile" />
                <button type="submit">Upload File</button>
            </form>
            <% if(files.length>0){ %>
                <ul>

                    <% for(let file of files){ %>
                        <li> File Name : <a href="details/<%= file.filename %>">
                                <%= file.originalname %>
                            </a>
                        </li>
                        <% } %>
                </ul>
                <% } %>
</body>

</html>